.mie-nested-block .unity-base-field {
    height: 18px;
}

.add-component-button {
    flex-grow: 0;
    flex-shrink: 0;
    height: 18px;
    margin: 0;
    padding: 0 6px;
    font-size: 11px;
    align-self: center;
}

.buttons-row {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-top: 5px;
    margin-left: -3px;
    margin-right: -3px;
}

.buttons-row .mie-button {
    height: 22px;
    -unity-background-scale-mode: scale-to-fit;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
}

.play-button {
    background-image: resource("d_PlayButton");
}

.play-backwards-button {
    background-image: resource("d_PlayButton");
    scale: -1 1;
}

.stop-button {
    background-image: resource("d_PreMatQuad");
}

.rewind-button {
    background-image: resource("d_Animation.FirstKey");
}

.recreate-button {
    background-image: resource("d_Refresh");
}

.button-tooltip {
    position: absolute;
    background-color: rgba(30, 30, 30, .95);
    color: #ddd;
    border-width: 1px;
    border-color: #666;
    border-radius: 2px;
    padding: 2px 6px;
    font-size: 11px;
    white-space: nowrap;
}
