/* Fixed an issue with different Property Field and other typed fields layout in Unity 2022.2+ and earlier versions */
.typed-field .unity-base-field__input {
    margin-left: 12px;
}
.unity-base-field .unity-base-field__label {
    margin-right: -40px;
}